/**
 * InputfieldURLChecker module for ProcessWire
 * https://github.com/rolandtoth/InputfieldURLChecker
 */

.iuc-button {
    position: absolute;
    margin-top: 1px;
    right: 16px;
    padding: 0 12px;
    background: transparent;
}

.iuc-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 990;
    background: rgba(0, 0, 0, 0.7);
}

.iuc-overlay:hover {
    cursor: pointer;
}

.iuc-iframe {
    border: none;
    display: block;
    width: 1600px;
    max-width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
    background: #fff url('loading.gif') center center no-repeat;
    z-index: 1020;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
}

.iuc-iframe-error {
    display: block;
    width: 1600px;
    max-width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 30px;
    overflow: hidden;
    background: #fff;
    z-index: 1030;
}

.iuc-iframe-error p {
    text-align: center;
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.iuc-iframe-animate {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.iuc-iframe-loaded {
    background-image: none;
}

body.iuc-button-left .iuc-button {
    right: auto;
    left: 16px;
}

.iuc-button i {
    color: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

.iuc-button.iuc-hide {
    pointer-events: none !important;
}

.InputfieldURL .InputfieldContent {
    position: relative;
}

body.iuc-button-right .InputfieldURL input.iuc-input {
    padding-right: 36px !important;
}

body.iuc-button-left .InputfieldURL input.iuc-input {
    padding-left: 36px !important;
}

.InputfieldURL input:focus + .iuc-button i {
    color: rgba(0, 0, 0, 0.32);
}

.iuc-button:not(.iuc-hide):hover i {
    color: inherit !important;
}

.iuc-button:active i {
    font-size: 0.88em !important;
}

.collapsed7.InputfieldURL .InputfieldContent a:hover,
.collapsed8.InputfieldURL .InputfieldContent a:hover {
    text-decoration: underline;
}