/**
 * Test URL Field module for ProcessWire
 * https://goo.gl/GRM0jp
 */

.tuf-link {
    position: absolute;
    margin-top: 1px;
    right: 16px;
    padding: 0 12px;
    background: transparent;
}

body.tuf-left .tuf-link {
    right: auto;
    left: 16px;
}

.tuf-link i {
    color: rgba(0, 0, 0, 0.22);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

.tuf-link.tuf-hide {
    pointer-events: none !important;
}

.InputfieldURL .InputfieldContent {
    position: relative;
}

body.tuf-right .InputfieldURL input {
    padding-right: 36px !important;
}

body.tuf-left .InputfieldURL input {
    padding-left: 36px !important;
}

.InputfieldURL input:focus + .tuf-link i {
    color: rgba(0, 0, 0, 0.36);
}

.tuf-link:hover i {
    color: inherit !important;
}
